@theme {
  --color-green-normal: #00ffea;

  --color-grey-light: #dcdcdc;
  --color-grey-input: #807f8b;

  --color-black-normal: #08151d;
  --color-sea-green: rgba(72, 188, 130, 0.48);
  --color-red-error: #ff4167;
  --color-primitives-blue: #00b3ff;
  --color-gray: #5b716f;
  --color-dark: #181d28;
  --color-dark-normal: #08151d;
  --color-white-10: rgba(255, 255, 255, 0.05);
  --color-primitives-white_5: rgba(255, 255, 255, 0.05);
  --color-primitives-white_10: rgba(255, 255, 255, 0.1);
  --color-primitives-white_20: rgba(255, 255, 255, 0.2);
  --color-primitives-white_30: rgba(255, 255, 255, 0.3);
  --color-primitives-green: #90d2f6;
  --color-primitives-grey_900: #262f38;
  --color-primitives-grey_800: rgba(24, 29, 40, 0.88);
  --color-deep-teal: rgba(0, 78, 79, 0.5);
  --color-dark-10: rgba(255, 255, 255, 0.02);
  --color-dark-100: rgba(0, 0, 0, 0.2);
  --color-dark-50: #18242b;
  --color-dark-60: #2f343d;
  --color-gray-10: #454951;
  --color-primitives-black_50: rgba(8, 21, 29, 0.5);
  --color-primitives-grey_200: #ababab;

  /* shadow */
  --drop-shadow-star-badge: 0px 3px 6px rgba(255, 255, 255, 0.25);
  --shadow-light: 0 7px 14px 0 rgba(255, 255, 255, 0.24);
  --text-shadow-green: 1px 6px 10.2px rgba(0, 255, 234, 0.6);
  --text-shadow-dark-small: 0 4px 0 rgba(0, 0, 0, 0.5);
  --shadow-white: 0px 4px 20px 0px rgba(235, 255, 253, 1);
  --drop-shadow-icon-sm: 0 4px 10px rgba(235, 255, 255, 0.8);
  --drop-shadow-offer-banner-img: 10px -13px 20px rgba(0, 255, 195, 0.1);
  --drop-shadow-icon-md: 0 4px 12px rgba(235, 255, 253, 1);
  --drop-shadow-icon-md2: 0 4px 20px #ebfffd;
  --drop-shadow-icon-gold: 0 8px 10px rgba(241, 158, 19, 0.5);
  --drop-shadow-medallions-gold: 0px 6.16px 9.24px #eab02066;
  --drop-shadow-icon-gold-lg: 0 3px 40px #ffb042;
  --shadow-stone:
    0 4px 81.9px 0 rgba(54, 255, 255, 0.2) inset,
    0 -2px 5px 0 rgba(54, 255, 255, 0.4) inset,
    0 11px 14px 0 rgba(54, 255, 255, 0.3) inset, 0 4px 4px 0 #36ffff inset,
    0 4px 8.4px 0 rgba(54, 255, 255, 0.5) inset;
  --drop-shadow-white: 0 0 30px #fff;
  --shadow-dark: 0px 4px 20px 0px rgba(255, 255, 255, 0.1) inset;
  --shadow-dark-sm: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  --shadow-sm-dark: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  --shadow-light-sm: 0 1px 0 0 rgba(255, 255, 255, 0.3) inset;
  --shadow-green-sm: 0 4px 50px 0 rgba(54, 255, 255, 0.4);
  --shadow-button: 1px 0px 10.2px 0px rgba(0, 255, 234, 0.6);

  --text-shadow-title-green:
    0 2px 2px rgba(0, 153, 255, 0.3), 1px 6px 10.2px rgba(0, 255, 234, 0.6);
}
