@theme {
  --color-green-normal: #00ffea;

  --color-grey-light: #dcdcdc;
  --color-grey-input: #807f8b;

  --color-black-normal: #08151d;

  --color-red-error: #ff4167;

  --color-dark-normal: #08151d;
  --color-primitives-white_20: rgba(255, 255, 255, 0.2);
  --color-primitives-white_30: rgba(255, 255, 255, 0.3);
  --color-primitives-grey_900: #262f38;
  --color-primitives-grey_800: rgba(24, 29, 40, 0.88);

  /* shadow */

  --shadow-light: 0 7px 14px 0 rgba(255, 255, 255, 0.24);
  --text-shadow-green: 1px 6px 10.2px rgba(0, 255, 234, 0.6);
  --text-shadow-dark-small: 0 4px 0 rgba(0, 0, 0, 0.5);
}
